<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Buscar Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pokédex</ion-card-title>
        <div class="screen-line"></div>
      </ion-card-header>
    </ion-card>
    <ion-searchbar placeholder="Busca un Pokémon, ej: Eevee " [(ngModel)]="nombrePokemon"></ion-searchbar>
    <!-- Botón -->
    <ion-button expand="block" (click)="buscarPokemon()">
      Buscar
    </ion-button>
  </div>
</ion-content>